apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: simarjitsingh22/ecommerce-backend:v1
        ports:
        - containerPort: 5000
        env:
	- name: DB_HOST
	  value: "db-service"
	- name: DB_NAME
	  value: "postgres" 
	- name: DB_USER
	  value: "postgres"
	- name: DB_PASSWORD
	  value: "mypassword"
        resources:
          requests:
            cpu: "100m"
        livenessProbe:
          httpGet:
            path: /products
            port: 5000
          initialDelaySeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: NodePort
  selector:
    app: backend
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 31001
